body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family:'Oswald',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191d28;

}
.light-mode
{
  background-color: aliceblue;
  color:black;
}
.app
{
margin:1rem;
padding:1rem;
padding-top:0;

}
p{
  color:white;
}
.navbar
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  color:#17a2b8;
  /* background-color: #191d28; */

}
.nav-link
{
  color:white;
  text-decoration: none;
  border:solid 1px #17a2b8;
  padding:0.3rem;
  border-radius: 15px;
  background-color: #17a2b8;

}
.nav-link>img
{
  height:28px;
  object-fit: cover;
  margin-right:0.1rem;
}
.navbar-brand
{
  /* width:40%; */
  padding-top: 0.5rem;
}
#basic-nav-dropdown
{
  background-color:#2e3241;
  border: #2e3241;
  color:white;
}

#basic-nav-dropdown-light
{
  background-color:aliceblue;
  border: #2e3241;
  color:#2e3241;
}
.table-light
{
  background-color:aliceblue;
  border: #2e3241;
  color:#2e3241;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table
{
  color:white;
  border-collapse: separate;
  border-spacing:0 1rem;
  border:none;
}
.table,tr,th,td
{
  border:none;
  text-align: center;
}

.mt-3
{
  display: flex;
  flex-direction: row;
}
.table>tbody>tr
{
  box-sizing: border-box;
  background-color: #2e3241;
  padding: 1rem;
  margin:0.5rem;
  border-radius:#2e3241 solid 15px;
}
.table>tbody>td
{
  text-align: center;
}
/* tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; } */
tr>td:first-child { border-top-left-radius: 10px; border-bottom-left-radius:10px; }
tr>td:last-child{border-top-right-radius:10px; border-bottom-right-radius:10px;}
/* tr td:first-child { border-left-style: solid; } */